

body {
	font-size: 10px;
}
.container {
	font-size: 1.2em !important;
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	min-width: 100% !important;
	max-width: 100% !important;
}

li,
ul {
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.section {
	width: 100%;
	height: 100%;
	padding: 1em;
}

/*NAVIGATION*/
.header {
	background: #f9a7c9;
	height: 10em;
	color: #ffffff;
}
.header-title {
	font-family: 'Homemade Apple', cursive;
	font-size: 2em;
}
.category {
	list-style-type: none;
	display: inline;
	margin-right: 1em;
}

/*RECIPE ITEM STYLES */
.recipe-info {
	opacity: 0;
	height: 0;
	position: relative;
	transition: height .2s ease-in;
}

li.true .recipe-info {
	opacity: 1;
	height: 15em;
	transition: height .2s ease-in;
}

