
@keyframes fadein {
	0% { 
		opacity: 0;
	}
	11% {
		opacity: 1;
	}
	22% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	44% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	77% {
		opacity: 0;
	}
	88% {
		opacity: 0;
	}
	100% {
		 opacity: 0;
	}
}

body {
	font-size: 10px;
	font-family: 'Josefin Sans', sans-serif !important;
}
.container {
	font-size: 1.2em !important;
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	min-width: 100% !important;
	max-width: 100% !important;
}

li,
ul {
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.section {
	width: 100%;
	height: 100%;
	padding: 1em;
	clear: both;
}

/*NAVIGATION*/
.header {
	background: #fcfcfc;
	height: 10em;
	color: black;
	height: 20em;
}
.bg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	height: 20em;
}
.bg1 {
	background: url('../images/bg1.jpg') no-repeat;
	background-size: cover;
	background-position: 50%;
	animation: fadein 9s ease-in infinite;
}
.bg2 {
	background: url('../images/bg2.jpg') no-repeat;
	background-size: cover;
	background-position: 50%;
	animation: fadein 9s 3s ease-in infinite;
}
.bg3 {
	background: url('../images/bg3.jpg') no-repeat;
	background-size: cover;
	background-position: top;
	animation: fadein 9s 6s ease-in infinite;	
}
.header-title {
	font-family: 'Homemade Apple', cursive;
	font-size: 2em;
	position: relative;
}
.sub-title {
	position: relative;
}

/*SEARCH STYLES */

/*NAVIGATION STYLES */
.category-filter {
	position: relative;
	margin: 1em 0;
}
.category {
	list-style-type: none;
	float: left;
	margin-right: 1em;
	position: relative;
	z-index: 10;
}
.category:hover {
	border: 1px solid pink;
	padding: 0 .5em;
}
.see-all {
	float: left;
	margin-right: 2em;
	border: 1px solid black;
	padding: 0 1em;
	cursor: pointer;
}
.navigation {
	z-index: 5;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 7em;
    position: relative;
    top: auto;
}
.navigation.fixed {
	position: fixed;
	top: 0;
	opacity: .9;
}

/*RECIPE ITEM STYLES */
.category-icon {
	width: 3em;
	height: 3em;
	border-radius: 50%;
    margin: 0 auto -1.5em auto;
    z-index: 2;
    position: relative;
}
.pork {
	background: url('../images/pork.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.poultry {
	background: url('../images/poultry.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.seafood {
	background: url('../images/seafood.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.beef {
	background: url('../images/beef.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.vegetables {
	background: url('../images/vegetables.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.noodles {
	background: url('../images/noodles.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.dessert {
	background: url('../images/dessert.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.recipe-list-container {
	border: 1px solid #ccc;
	padding: .5em;
}
.recipe-list-container:hover {
	background: #fcfcfc;
}
.recipe-name {
	font-family: 'Homemade Apple', cursive;
	text-align: center;
	min-height: 4em;
	position: relative;
	top: 2em;
}
.recipe-info {
	opacity: 0;
	height: 0;
	position: relative;
	transition: height .2s ease-in;
}
.recipe-li {
	width: 50%;
    position: relative;
    float: left;
    border: none !important;
}

.recipe-li.true .recipe-info {
	opacity: 1;
	height: 20em;
	overflow-y: auto;
	transition: height .2s ease-in;
}
.keynames {
	font-weight: 700;
}

@media all and (max-width: 767px) {
	.see-all {
		float: none;
		width: 5em;
	}
	.recipe-li {
		width: 100%;
	}
}

