

body {
	font-size: 10px;
}
.container {
	font-size: 1.2em !important;
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	min-width: 100% !important;
	max-width: 100% !important;
}

li,
ul {
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.section {
	width: 100%;
	height: 100%;
	padding: 1em;
}

/*NAVIGATION*/
.header {
	background: #f9a7c9;
	height: 10em;
	color: #ffffff;
}
.header-title {
	font-family: 'Homemade Apple', cursive;
	font-size: 2em;
}
.category {
	list-style-type: none;
	display: inline;
	margin-right: 1em;
}

/*RECIPE ITEM STYLES */
.category-icon {
	width: 3em;
	height: 3em;
	border-radius: 50%;
}
.pork {
	background: url('../images/pork.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.poultry {
	background: url('../images/poultry.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.seafood {
	background: url('../images/seafood.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.beef {
	background: url('../images/beef.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.vegetables {
	background: url('../images/vegetables.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.noodles {
	background: url('../images/noodles.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.dessert {
	background: url('../images/dessert.png') no-repeat;
	background-size: contain;
	background-position: 100%;
}
.recipe-list-container {

}
.recipe-name {
	font-family: 'Homemade Apple', cursive;
}
.recipe-info {
	opacity: 0;
	height: 0;
	position: relative;
	transition: height .2s ease-in;
}

li.true .recipe-info {
	opacity: 1;
	height: 20em;
	overflow-y: scroll;
	transition: height .2s ease-in;
}

